body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(135deg, #71CE97, #39684C);
    /*background-size: 400% 400%;*/
    /*animation: gradientShift 15s ease infinite;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bg-logo {
    position: absolute;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
}

.img-container img {
    text-align: center;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}


.login-container {
    background: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
    animation: fadeIn 1s ease-in;
    position: relative;
    z-index: 1;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #6b4f4f;
}


input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid gray;
    border-radius: 10px;
}

input[type="submit"] {
    background: #396840;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: darkgreen;
    color: white;
}

.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 5px 0 15px;
}

.forgot-password {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: #8a6440;
    text-decoration: underline;
}

.remember-me {
    color: black;
}

.signup-line {
    margin-top: 15px;
    font-size: 13px;
    color: black;
}

.signup-link {
    color: red;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.signup-link:hover {
    color: red;
    text-decoration: underline;
}

.footer-text {
    font-size: 12px;
    color: #9e8b8b;
    margin-top: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}